input {
  margin-right: 10px;
}

#xmark {
  height: 20px;
  width: 20px;
  color: red;
}

#check {
  color: rgb(6, 179, 6);
  width: 20px;
  height: 20px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.error-label {
  color: red;
}

.hidden {
  display: none;
}
