body {
  font-family: 'Brandon Grotesque', sans-serif;
}

form {
  display: inline;
}

#form-div {
  display: flex;
  justify-content: center;
}

#button-div {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: rgb(236, 93, 87);
  border-width: 0;
  border-radius: 20px;
  color: white;
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 16px;
  height: 37px;
  width: 100px;
}

button:hover {
  background-color: #d4534e;
  cursor: pointer;
}

select:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.title {
  text-align: center;
  color: #ec5d57;
  font-weight: 400;
}

.input-field {
  width: 600px;
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  border-color: lightgray;
  border-width: 1px;
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 17px;
  margin-top: 5px;
}

form label {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  padding-left: 12px;
}

.label-and-field {
  margin: 15px 0;
}
