#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.arrow-button:hover {
  border-color: #646cff;
}

.nav-container {
  margin-top: 15px;
  padding-left: 10px;
}

.nav-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}
