.heat0 {
  background-color: black;
  color: white;
}

.heat1 {
  background-color: #351d75;
  color: white;
}

.heat2 {
  background-color: #674fa7;
  color: white;
}

.heat3 {
  background-color: #e06665;
  color: white;
}

.heat4 {
  background-color: #f6b26b;
  color: black;
}

.heat5 {
  background-color: #ff0;
  color: black;
}

.heat6 {
  background-color: white;
  color: black;
}
