* {
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

body {
  margin: 0;
}

.container {
  margin-top: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textbox {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

#restart {
  width: 120px;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  border-color: transparent;
  background-color: green;
  color: white;
  border-radius: 5px;
}

.untyped {
  color: black;
}

.correct {
  color: rgb(0, 182, 0);
}

.incorrect {
  color: red;
}

.current.untyped {
  border-bottom: 3px solid black;
}

.current.incorrect {
  border-bottom: 3px solid red;
}

.row {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}
